
<html>
    <head>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <title>Login</title>
    </head>
    <body>
        <div class="wrapper">
            <form class="form-signin" action="" method="POST">
                {% csrf_token %}
              <h2 class="form-signin-heading">Please login</h2>
              <input type="text" class="form-control" name="username" placeholder="Username" required="" autofocus="" /><br><br>
              <input type="password" class="form-control" name="password" placeholder="Password"/><br><br>
              <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </body>
</html>


